* {
  font-family: "Lexend", "Montserrat", sans-serif;
}

.header {
  width: 100%;
  background-color: transparent;
}

.container-background {
  background: rgb(120, 191, 165);
  background: linear-gradient(
    121deg,
    rgba(120, 191, 165, 1) 0%,
    rgba(30, 179, 183, 1) 25%,
    rgba(0, 163, 208, 1) 47%,
    rgba(0, 140, 222, 1) 77%,
    rgba(67, 67, 201, 1) 100%
  );
}



.header,
.navbar-collapse {
  width: auto;
}

ul {
  margin-right: 10%;
}

.nav-link {
  padding-left: 0;
  padding-right: 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-family: "Montserrat";
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: solid 4px transparent;
}

.nav-link:hover {
  border-bottom: solid 2px var(--secondary);
}

.btn1 {
  border-radius: 22px;
  border: none;
  background-color: #f4cb60;
  color: #000000;
  font-weight: 500;
  padding: 5px 25px;
  font-family: "Montserrat";
}

.btn1:hover {
  background-color: #28527a;
}

.h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
  font-family: "Lexend";
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.span {
  color: #f4cb60;
}

/*slider parceiros*/

#slider-parceiros {
  margin-top: 30px;
}

#slider-parceiros .h4 {
  font-weight: 700;
  font-family: "Lexend";
}

#sobre {
  margin-top: 30px;
  background: rgb(120, 191, 165);
  background: linear-gradient(
    121deg,
    rgba(120, 191, 165, 1) 0%,
    rgba(30, 179, 183, 1) 25%,
    rgba(0, 163, 208, 1) 47%,
    rgba(0, 140, 222, 1) 77%,
    rgba(67, 67, 201, 1) 100%
  );
}

#servicos_1 a.destaque {
  display: block;
  background: #eee;
  border-radius: 16px;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  box-shadow: 10px 9px 15px -1px rgba(0, 0, 0, 0.34);
}

#servicos_1 a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

#servicos_1 a.destaque .img-container img {
  max-height: 160px;
}

.container-row {
  margin-top: 5%;
}

#servicos_2 {
  background: rgb(120, 191, 165);
  background: linear-gradient(
    121deg,
    rgba(120, 191, 165, 1) 0%,
    rgba(30, 179, 183, 1) 25%,
    rgba(0, 163, 208, 1) 47%,
    rgba(0, 140, 222, 1) 77%,
    rgba(67, 67, 201, 1) 100%
  );
}

#depoimentos .depoimento {
  background-color: #eee;
  border-radius: 16px;
  display: flex;
  padding: 30px;
}

#depoimentos .depoimento .name {
  color: var(--primary);
}

#depoimentos .depoimento .name span {
  color: 000;
  font-weight: 700;
}

.col2 {
  background-color: #eee;
  padding: 50px;
}

/*footer*/

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}


.footer-20192 {
  position: relative;
  color: #fff;
  padding: 7rem 0;
  background: linear-gradient(
    121deg,
    rgba(120, 191, 165, 1) 0%,
    rgba(30, 179, 183, 1) 25%,
    rgba(0, 163, 208, 1) 47%,
    rgba(0, 140, 222, 1) 77%,
    rgba(67, 67, 201, 1) 100%
  );
}
.footer-20192 .container {
  position: relative;
}
.footer-20192 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
}

.footer-20192 .cta {
  border-radius: 16px;
  padding: 20px;
  background: linear-gradient(
    121deg,
    rgba(0, 163, 208, 1) 11%,
    rgba(0, 140, 222, 1) 63%,
    rgba(67, 67, 201, 1) 100%
  );
  top: -150px;
  position: relative;
  padding: 20px;
}
.footer-20192 .cta h2 {
  line-height: 1.5;
}

/*Login*/

.main-container {
  padding: 4rem;
  border-radius: 16px;
  background: rgba(158, 72, 202, 1);
  background: -webkit-linear-gradient(
    top left,
    rgba(158, 72, 202, 1),
    rgba(104, 148, 207, 1)
  );
  background: -moz-linear-gradient(
    top left,
    rgba(158, 72, 202, 1),
    rgba(104, 148, 207, 1)
  );
  background: linear-gradient(
    to bottom right,
    rgba(158, 72, 202, 1),
    rgba(104, 148, 207, 1)
  );
}

.section-margin {
  margin-top: 5%;
  margin-bottom: -4%;
}


/*senha*/

.section-senha{
  margin-bottom: -5%;
  margin-top: -5%;
}

