@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;800&family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

@import url(./bootstrap.min.css);
@import url(./config.css);
@import url(./global.css);
@import url(./custom.css);
@import url(./responsive.css);

* {
  font-family: "Lexend", "Montserrat", sans-serif;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-family: "Montserrat";
  
}

/*



.btn1 {
  border-radius: 22px;
  border: none;
  background-color: #f4cb60;
  color: #000000;
  font-weight: 500;
  padding: 5px 25px;
}

.btn1:hover {
  background-color: #28527a;
}

.main{
  
}

.div1{
  background-color: aquamarine;
  margin-top: 15%
}

.h1{
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  font-family: "Lexend";
  letter-spacing: -0.04em;
}

.span{
  color: #F4CB60;
}

*/
